* {
    margin: 0px;
  }
  
  body {
    font-size: 40px;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 187, 157);
  }
  
  a {
    font-size: 32px;
    color: white;
  }
  a:hover {
    color: rgb(150, 187, 157);
  }
  
  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .flex-header {
    font-size: 40px;
    background-color: #e70e20;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3px;
  }
  
  .flex-main {
    display: flex;
    flex: 1;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
  .flex-article {
    background-color: #e70e20;
    padding-top: 3rem;
    font-size: 40px;
    flex: 3 3;
    margin-right: 8px;
  }
  
  .flex-aside {
    background-color: #e70e20;
    font-size: 40px;
    padding-top: 3rem;
    flex: 1 1 5rem;
  }
  
  .flex-footer {
    background-color: #e70e20;
    font-size: 40px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 3px;
  }
  